{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Estudiante</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Codigo</th>
                <td>{{ entity.codigo }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ entity.cedula }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ entity.apellido }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('estudiante') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
