{% extends 'udecBundle::main.html.twig' %}
{% block title %} Proyectos {% endblock %}

{% block body %}
    <h1>Proyectos</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Cod_proyecto</th>
                <td>{{ entity.cod_proyecto }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ entity.titulo }}</td>
            </tr>
            <tr>
                <th>Resumen</th>
                <td>{{ entity.resumen }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Fechainicio</th>
                <td>{{ entity.fechaInicio|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechaaprovaccion</th>
                <td>{{ entity.fechaAprovaccion|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('proyectos') }}">
            Atras
        </a>
    </li>
</ul>
{% endblock %}
